__pycache__/
.vscode/
.idea/
*.code-workspace
*-checkpoint.*
plot/
data/
report/*
!report/report.tex
!report/bibliography.bib
!report/llncs.cls
!report/llncsdoc.sty
!report/mdpn.sty
!report/splncs04.bst
!report/sections/