__pycache__/
.vscode/
.idea/
*.code-workspace
*-checkpoint.*
report/*
!report/plot/
!report/Report.tex
!report/Report.pdf
!report/bibliography.bib
!report/*.sty
!report/*.cls
!report/splncs04.bst
!report/sections
report/sections/*.aux